# Next.js
.next/
out/

# Production
build/

# Firebase
.firebase/
firebase-debug.log*
.firebaserc

# Environnement
.env
.env.local
.env.production
.env.development

# Dépendances
node_modules/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Divers
.DS_Store
*.local
